@{
    ViewBag.Title = "Home Page";
}
<h2>Загальна інформація</h2>

<div class="info-content">
    <div>
        При першому вході в систему вільного вибору дисциплін студент
        (денної/заочної форми навчання) у блоці Дисципліни має можливість
        ознайомитися з переліком вибіркових дисциплін, визначених за семестрами, їх
        описом та подати адресу своєї електронної пошти для зворотного зв’язку. Після
        ознайомлення обрати одну вибіркову дисципліну з пропонованого переліку на 3
        семестр та одну дисципліну на 4 семестр 2017/2018 навчального року.
    </div>
    <br />
    <div>
        Обсяг кожної вибіркової дисципліни становить 3 кредити, що включає
        16 годин лекційних занять, 16 годин практичних та 58 годин відведених на
        самостійну роботу для денної форми навчання. Для заочної форми навчання
        обсяг вибіркової дисципліни становить 3 кредити, 10 годин аудиторних занять і
        80 годин на самостійну роботу. Форма підсумкового контролю – семестровий
        залік у кожному семестрі. Вибіркову дисципліну «Фізичне виховання»
        обирають студенти тільки денної форми навчання.
    </div>
    <br />

    Процедура вільного вибору дисципліни передбачає 2 етапи:
    <ul>

        <li>
            І хвиля реєстрації починається з 23 лютого 2017 року та завершується о
            12.00 6 березня 2017 року;
        </li>
        <li>
            ІІ хвиля реєстрації та комплектації груп стартує відразу після закінчення
            першої і триває до 12.00 14 березня 2017 року.
        </li>
    </ul>
    <br />

    <div>
        Під час першої хвилі реєстрації студент може зайти в систему для
        перегляду стану комплектації груп та зміни/редагування свого вибору
        дисципліни.
    </div>
    <br />

    <div>

        Після завершення першої хвилі фіксуються дисципліни, для яких групи
        складають не менше 25-ти осіб (верхня межа не встановлена), дисципліни з
        меншою кількістю доукомплектовуються незареєстрованими студентами у
        порядку спадання 24+1, 23+2, 22+3 .... . Студенти, що зареєструвалися на
        дисципліни, для яких не вдалося укомплектувати групи, у другій хвилі
        реєстрації отримують можливість вибрати дисципліни зі сформованих після
        першої хвилі.
    </div>
    <br />

    <div>

        Заяву на вивчення дисципліни вільного вибору студенти заповнюють та
        залишають в деканаті згідно зі списками електронної реєстрації. Заява
        зберігається в деканаті в особовій справі студента протягом усього терміну
        його навчання.
    </div>
    <br />
    <div>

        З моменту формування груп, вибіркова дисципліна стає для студента
        обов’язковою.
    </div>

</div>