@model Courses_v2.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Профіль</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Змінити", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Створити", "SetPassword")
            }
            ]
        </dd>

        <dt>Номер телефону:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;@Html.ActionLink("Змінити", "AddPhoneNumber")&nbsp;]</text>
            }
            else
            {
                <text>[&nbsp;@Html.ActionLink("Додати", "AddPhoneNumber")&nbsp;]</text>
            }
        </dd>
    </dl>
</div>
