
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var settings = new { area = "Moderator" };
}

@section Navigation{
    <li>@Html.ActionLink("Дисципліни", "Index", "Discipline", settings, new { })</li>
}
@RenderBody()
